@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Россия, Кемерово<br />
    КузГТУ<br />
    <abbr title="Телефон">P:</abbr>
    +7(951)601-81-93
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Redisk0gg@gmail.com">Redisk0gg@gmail.com</a><br />
    <strong>Support2:</strong> <a href="mailto:pavel1995.ru@yandex.ru">Pavel1995.ru@yandex.ru</a>
</address>