@{
    //Layout = null;
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Столовая";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div>
        <h4>Имя блюда<textarea name="DishId"></textarea>
        @Html.ActionLink("Блюда", "hDish", "Home")
        <button>Выбрать другое блюдо</button></h4>
        <h3>Состав блюда</h3>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th><p>Имя блюда</p></th>
                    <th><p>Имя ингридиента</p></th>
                    <th><p>Количество ингридиента</p></th>
                </tr>
            </thead>
            @foreach (var e in ViewBag.pGetDishComposition)
            {
                <tr>
                    <td><p>@e.DishName</p></td>
                    <td><p>@e.IngridientName</p></td>
                    <td><p>@e.IngridientAmount</p></td>
                </tr>
            }
        </table>

    </div>

</body>
</html>

